.docversions a.displayed {
  font-weight:bold;
  background-color:red;
  outline: thin solid red;
  color:white;
  text-shadow: 1px 1px black;
}

div.pagetoc {
  float:right;
  margin-left:2em;
  max-width: 200px;
}
div.pagetoc:before {
  content: "Contents";
  font-weight:bold;
  padding-left:1em;
}
.pagetoc > ul    {
  margin-top: 0;
  width:15em;
  /*font-size:small;*/
}
.pagetoc > ul ul {
  padding-left:1em;
}
.pagetoc > ul li {
  /*list-style:none;*/
  text-indent:-0.3em;
}

/* .screenshot-right { 
  float:right; 
  clear:right;
  max-width:200px; same as pagetoc
  text-align:right;
} */

.right { 
  float:right; 
  max-width:200px; 
  margin:0 0 1em 1em; 
}

.highslide-caption {
  color:white; 
  background-color:black;
}
