_build
_cache
_site
files/downloads
files/static
hledger-api.md
hledger-ui.md
hledger-web.md
hledger.md
csv.md
journal.md
timeclock.md
timedot.md
manual.md
cookbook.md
[0-9].*
.snapshot
TAGS
.notes*
_templates/sphinx_rtd_theme
_templates/sphinx_zrythm_theme
