[book]
title = "hledger"
authors = ["Simon Michael"]
description = "plain text accounting, made easy"
language = "en"
multilingual = false
#src = "src"

[build]
build-dir = "out"
create-missing = false
use-default-preprocessors = true

[preprocessor.index]

[preprocessor.links]

[preprocessor.toc]
# marker = "<!-- toc -->"
max-level = 3

[output.html]
theme = "theme"
default-theme = "light"
# preferred-dark-theme = "navy"
#preferred-dark-theme = "light"
# curly-quotes = false
# mathjax-support = false
# copy-fonts = true
# google-analytics = "UA-123456-7"

# fs and uri paths must be the same here:
additional-css = [
  "highslide/highslide.css",
  "css/site.css",
]
additional-js = [
  "highslide/highslide.js",
  "js/jquery-1.11.0.min.js",
  "js/site.js",
]
no-section-label = true
git-repository-url = "https://github.com/simonmichael/hledger_site"
# git-repository-icon = "fa-github"
# site-url = "/"
# cname = "hledger.org"
# input-404 = "not-found.md"

# [output.html.print]
# enable = true

[output.html.fold]
enable = true
# level = 0

# [output.html.playground]
# editable = false
# copy-js = true
# line-numbers = false

[output.html.search]
# enable = true
limit-results = 20
# teaser-word-count = 30
use-boolean-and = true
# boost-title = 2
# boost-hierarchy = 1
# boost-paragraph = 1
# expand = true
heading-split-level = 4
# copy-js = true

[output.html.redirect]
# "/appendices/bibliography.html" = "https://rustc-dev-guide.rust-lang.org/appendix/bibliography.html"
# "/other-installation-methods.html" = "../infra/other-installation-methods.html"

# [output.markdown]
# The Markdown renderer will run preprocessors and then output the
# resulting Markdown. This is mostly useful for debugging preprocessors,
# especially in conjunction with mdbook test to see the Markdown that
# mdbook is passing to rustdoc.

