{% set parts = ('/'+pagename).split('/') %}
{% set viewed_version = parts[-2] %}
{% set viewed_manual  = parts[-1] if parts[-1] in manuals else '' %}
{% set viewed_manual_ = viewed_manual if viewed_manual.startswith('hledger') else 'hledger' %}

{% if viewed_manual %} 
  <div class="rst-versions rst-badge" role="note" aria-label="versions">
      {% set viewed_version_desc = 
			viewed_version 
			and viewed_manual_ + ' ' + viewed_version + ', released ' + version_dates.get(viewed_version,'-')
			or  viewed_manual_ + ' ' + 'DEV'
			%}
      {% set m = 'hledger-web' if viewed_manual=='hledger-api' else viewed_manual %}
      <span {% if viewed_version=='' %}class="viewed-version"{% endif %}><a href="/{{ m }}.html">DEV</a></span> 
      {% for v in versions %} 
        {% set m = 'hledger-web' if (viewed_manual=='hledger-api' and v>'1.14') else viewed_manual %}
        &middot; <span {% if viewed_version==v %}class="viewed-version"{% endif %}>
          <a href="/{{ v }}/{{ m }}.html">{{ v }}</a>
        </span> 
      {% endfor %} 
  </div> 
{% endif %} 
